
@model IEnumerable<CatVM>

@{
    ViewData["Title"] = "Список котів";
    //Layout = null;
}

<h1>Список котів для продажу</h1>
<a asp-action="Create" class="btn btn-success">Додати</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Кличка кота</th>
            <th scope="col">Дата народження</th>
            <th scope="col">Ціна</th>
            <th scope="col">Фото</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Birthday.ToLongDateString()</td>
                <td>@item.Price</td>
                <td>@item.Image</td>
            </tr>
        }

    </tbody>
    </table>
