
@model IEnumerable< WebShop.Areas.Admin.Models.ViewUserRolesModel>
@using WebShop.Domain.Entities.Identity

@{
    ViewData["Title"] = "Users";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Користувачі</h2>
        <ol class="breadcrumb">
            <li>
                @*<a href="@Url.Action("Dashboard_1", "Dashboards")">Щось буде...</a>*@
            </li>
            <li>
                <a asp-area="admin" class="text-success"  asp-action="Create" asp-controller="Ecommerce">Create</a>
            </li>               
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>

                                <th>User ID</th>
                                <th data-hide="phone">Name</th>
                                <th data-hide="phone">E-mail</th>
                                <th class="text-right">Role</th>
                                <th class="text-right">Action</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>
                                        @user.UserId
                                    </td>
                                    <td>
                                        @user.Username
                                    </td>
                                    <td>
                                        @user.Email
                                    </td>
                                    <td>
                                        @user.Role
                                    </td>

                                    <td class="text-right">
                                        <div class="btn-group">
                                            @*<a href="Create" asp-area="admin" class="text-success"
                                               asp-action="Create"
                                               asp-controller="Ecommerce">Create</a>*@
                                            &nbsp;&nbsp;&nbsp;
                                            <a  class="text-success"                                                
                                                href="Edit/@user.UserId">Edit</a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a href="Delete/@user.UserId" 
                                               class="text-success">Deleted</a>

                                        </div>
                                    </td>
                                </tr>
                            }
                          
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/template/lib/footable/css/footable.core.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/template/lib/footable/css/footable.core.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/template/lib/footable/dist/footable.all.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });
    </script>
}
